.ui-page {
    max-width: 400px !important;
    height: 650px !important;
    margin: 20px auto !important;
    border: 10px solid #333;
    border-radius: 30px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
    position: relative !important;
    overflow-y: auto !important;
    background: #fff !important;
}

body {
    background-color: #eee !important;
}

.ui-listview img {
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    margin: 5px;
    object-fit: cover;
}

#details-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #0078d7;
    object-fit: cover;
}

.ui-footer {
    position: absolute !important;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
}

.ui-header, .ui-footer {
    z-index: 10 !important;
}